<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="jAfqug1C69NZjBtadPVgooRLS1VkHTxPFt36EJysK24" />
    <title>@ViewBag.Title : НаМаникюр.рф</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <div id="OverNavbar" class="col-12">
            <img src="~/Content/Design/phone.png" class="img-fluid" />
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @Html.ActionLink("НАМАНИКЮР.РФ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#manicure" class="nav-link">Маникюр</a>
                    </li>
                    <li class="nav-item">
                        <a href="#pedicure" class="nav-link">Педикюр</a>
                    </li>
                    <li class="nav-item">
                        <a href="#photos" class="nav-link">Фото</a>
                    </li>
                    <li class="nav-item">
                        <a href="#price" class="nav-link">Стоимость</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacts" class="nav-link">Контакты</a>
                    </li>
                </ul>
                <span class="navbar-text small">
                    Маникюр и педикюр в Пикалево
                </span>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="d-flex justify-content-between">
                <div>&copy; @DateTime.Now.Year - НаМаникюр.рф</div>
                <div>Проект <a href="http://middledeveloper.com" class="text-decoration-none" target="_blank">middledeveloper.com</a></div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
